* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
  }
  
  .icon-container {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    user-select: none;
    --box-shadow-color: rgb(216, 216, 233);
    transition: all 0.3s ease-out;
    /* animation: bounce 0.3s 1 forwards; */
  }
  svg {
    width: 24px;
    height: auto;
  }
  svg:last-child {
    position: absolute;
  }
  
  .icon-container:active svg:last-child {
   animation: bounce 300ms linear; /*bounce 0.3s 1 linear;*/
  
  }

  .text {
    color: #666;
    font-family: SantanderMicroText;
    font-size: 12px;
    font-weight: regular;
    margin-top: 20px;
  }

  .icon-container:active {
    animation: press 0.3s 1 linear;
   box-shadow: 0 15px 24px rgba(109, 109, 109, 0.11),
    0 5px 15px var(--box-shadow-color);
  }

  @keyframes press {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.92);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes bounce {
    70% {
      transform: scale(1.4) rotate(0deg) translate(0px, 0px);
      opacity: 0;
    }
   
  }
